## Relatório de análise IV
Seleções e Frequências

In [ ]:
import pandas as pd
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')

In [ ]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

# Imóveis classificados com tipo 'Apartamento'.

In [ ]:
#criar serie booleana
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
print(f"'Apartamento' = {n1}")

'Apartamento' = 19532

#Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

In [ ]:
selecao = ((dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila' ))
n2 = dados[selecao].shape[0]
print(f" 'Casa', 'Casa de Condomínio' e 'Casa de Vila' = {n2}")

 'Casa', 'Casa de Condomínio' e 'Casa de Vila' = 2212

#Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

In [ ]:
selecao = (dados['Area'] >=60) & (dados['Area']<=100)

n3 = dados[selecao].shape[0]
print(f"Imóveis com área entre 60 e 100  = {n3}")

imóveis com área entre 60 e 100  = 8719

#Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [ ]:
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao]
print(f"Imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ = {n4}")

Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ =                      Tipo                    Bairro  Quartos  Vagas  Suites  \
484           Apartamento  Recreio dos Bandeirantes        4      2       2
1003          Apartamento                   Taquara        4      1       1
1961                 Casa              Campo Grande        4      1       4
2102                 Casa         Engenho de Dentro        4      3       0
2200          Apartamento  Recreio dos Bandeirantes        4      2       2
2338         Casa de Vila                     Méier        4      0       1
3943                 Casa              Campo Grande        4      1       0
3944          Apartamento              Campo Grande        4      2       1
4349          Apartamento  Recreio dos Bandeirantes        4      2       1
5081          Apartamento               Cidade Nova        4      0       0
6524          Apartamento                 Pechincha        4      1       2
6800                 Casa                 Riachuelo        4      0       1
6811                 Casa                     Méier        4      1       1
7624          Apartamento  Recreio dos Bandeirantes        4      2       3
7651          Apartamento  Recreio dos Bandeirantes        4      3       2
7867          Apartamento  Recreio dos Bandeirantes        4      2       1
10111         Apartamento  Recreio dos Bandeirantes        4      2       1
10929  Casa de Condomínio                   Taquara        4      1       0
11308                Casa              Santo Cristo        5      0       0
11977         Apartamento                      Leme        4      0       1
12525         Apartamento  Recreio dos Bandeirantes        4      2       1
13307         Apartamento                   Camorim        4      1       1
13659         Apartamento           Barra da Tijuca        4      3       4
14034                Casa                Praça Seca        4      1       1
14987  Casa de Condomínio   Freguesia (Jacarepaguá)        4      2       1
15010                Casa        Pedra de Guaratiba        4      1       0
15912         Apartamento              Campo Grande        4      2       2
16031         Apartamento  Recreio dos Bandeirantes        4      2       2
16137         Apartamento              Rio Comprido        4      1       0
16791                Casa              Campo Grande        4      3       0
17764         Apartamento                   Taquara        4      3       1
17884                Casa              Campo Grande        4      0       1
18140                Casa              Campo Grande        4      0       0
18274                Casa              Braz de Pina        4      1       0
18453                Casa              Campo Grande        4      1       3
19403                Casa              Campo Grande        4      1       2
20178         Apartamento              Campo Grande        4      1       1
20974         Apartamento           Barra da Tijuca        4      3       4
21475         Apartamento             Vargem Grande        4      0       1
21783         Apartamento  Recreio dos Bandeirantes        4      2       2
21938                Casa              Campo Grande        4      2       0

       Area   Valor  Condominio   IPTU
484     160  1900.0       830.0    NaN
1003    110  1900.0         NaN    NaN
1961    100  1600.0         NaN    NaN
2102    120  1500.0         NaN    NaN
2200    125  1700.0         NaN   90.0
2338     85  1600.0         NaN    NaN
3943    140  1700.0         NaN    NaN
3944    115  1900.0       500.0    NaN
4349    105  1900.0      1492.0  205.0
5081    110  1300.0         NaN    NaN
6524    178  1900.0      1100.0  270.0
6800    100  1800.0         NaN   40.0
6811    125  1900.0         NaN    NaN
7624    280  1800.0      1400.0  580.0
7651    250  1500.0      1380.0  700.0
7867    160  1900.0      1093.0  183.0
10111   160  1900.0      1038.0  158.0
10929   110  1750.0       550.0  993.0
11308    85  1200.0         NaN    NaN
11977   185  1800.0      2000.0  270.0
12525   160  1900.0       930.0  150.0
13307    96  1350.0       747.0    NaN
13659   148  1600.0      1766.0    NaN
14034   128  1600.0         NaN  228.0
14987   120  1800.0       195.0   30.0
15010   100  1300.0         NaN    NaN
15912   160  1900.0       880.0    NaN
16031   160  1900.0       912.0  160.0
16137   110  1650.0       500.0    NaN
16791   120  1700.0         NaN    NaN
17764   190  1200.0         NaN    NaN
17884   366  1890.0         NaN  208.0
18140   159  1800.0         NaN    NaN
18274    99  1800.0         NaN    NaN
18453   100  1600.0         NaN    NaN
19403   180  1850.0       300.0    NaN
20178    80  1600.0       950.0    NaN
20974   148  1500.0      1600.0  196.0
21475   180  1900.0         NaN  176.0
21783   160  1900.0      1038.0    NaN
21938   120  1600.0         NaN    NaN